# {{ ansible_managed }}

<VirtualHost *:80>
    ServerAdmin webmaster@{{ ansible_fqdn }}
    ServerName {{ ansible_fqdn }}
    DocumentRoot /var/www/html

    <Directory /var/www/html>
	Order allow,deny
	Allow from all
    </Directory>
</VirtualHost>
